@import url(components/avatar.css);
@import url(components/card.css);
@import url(components/footer.css);
@import url(components/hero-section.css);
@import url(components/footer.css);
@import url(components/navbar.css);

* {
    box-sizing: border-box;
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
a,
address,
cite,
code,
img,
ol,
ul,
li,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
figcaption,
footer,
header,
menu,
nav,
section,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    line-height: 1;
    color: #2d2d2d;
    background-color: #b1cec9;
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
}

ol,
ul {
    list-style: none;
}

/* COLOR PALETTE
Font: #2D2D2D
Background: #B1CEC9
Background_light: #BFDBD6
accent: #B1958F
*/

.container {
    position: relative;
    max-width: 1100px;
    width: 90%;
    margin: 0 auto;
}

.section-curve {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.section-curve svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 152px;
}

.section-curve .header-shape-fill {
    fill: #bfdbd6;
}

.section-curve .projects-shape-fill {
    fill: #b1cec9;
}

.social-icon {
    width: 24px;
}

.projects-section {
    position: relative;
    background-color: #bfdbd6;
    text-align: center;
    padding-bottom: 400px;
}

.projects-section > h2 {
    font-size: 50px;
}

.line {
    background-color: red;
    border: none;
    transform: rotate(90deg);
    width: 10vh;
    height: 30px;
    position: absolute;
    top: 0;
}

/* Temporary, for visual aid during styling */
section {
    position: relative;
    /* border-bottom: 3px solid red; */
    /* border-top: 3px solid orange; */
    /* margin: 100px 0; */
}

img {
    width: 300px;
}

/* if shape divider app doesn't work well, make eclipses */

.illustration--project {
    width: 30%;
    z-index: 1;
    position: absolute;
    left: 0;
    top: -35vh;
}

.illustration--resume {
    width: 50%;
}

.see-more {
    display: inline-block;
    text-decoration: none;
    color: #2d2d2d;
    font-size: 32px;
    margin-top: 100px;
}

.see-more:hover {
    text-decoration: underline;
    text-decoration-color: #b1958f;
}
