* {
    box-sizing: border-box;
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
a,
address,
cite,
code,
img,
ol,
ul,
li,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
figcaption,
footer,
header,
menu,
nav,
section,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    line-height: 1;
    color: #2d2d2d;
    background-color: #b1cec9;
}

ol,
ul {
    list-style: none;
}

/* COLOR PALETTE
Font: #2D2D2D
Background: #B1CEC9
Background_light: #BFDBD6
accent: #B1958F
*/

.grid-container {
    display: grid;
    /* grid-template-columns: repeat(2, 55px) 1fr; */
    grid-template-columns: 55px 55px 1fr;
    grid-template-rows: 5vh 1fr;
    row-gap: 80px;
}

nav {
    grid-row: 1;
    grid-column: 1 / -1;
    border-bottom: 2px solid #b1958f;
}

.nav-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-weight: bold;
}

.header-content {
    text-align: center;
}

.grid-col-1 {
    position: relative;
    background-color: orange;
    grid-column: 1;
    grid-row: 2 / -1;
    text-align: center;
}

.grid-col-2 {
    position: relative;
    background-color: yellow;
    grid-column: 2;
    grid-row: 2 / -1;
    text-align: center;
}

.social-icon {
    width: 24px;
}

.avatar {
    width: 10%;
    /* border: 2px solid rebeccapurple; */
    /* border-radius: 50%; */
}

.avatar--small {
    width: 5vh;
}

.illustration--adventure {
    width: 200px;
}

.line {
    background-color: red;
    border: none;
    transform: rotate(90deg);
    width: 10vh;
    height: 30px;
    position: absolute;
    top: 0;
}
