/* Create project cards */

.projects {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 10%;
}

.card {
    z-index: 2;
    background-image: url(../assets/me_close_black_sweater.webp);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 30% 45%;
    border-radius: 12px;
    box-shadow: 0 10px 32px rgba(0, 0, 0, 0.1);
    border: 1px solid #b1958f;
    transition: all 0.1s ease-in;
}

.card:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: all 0.2s ease-out;
    box-shadow: 0 20px 64px rgba(0, 0, 0, 0.2);
}

.card--1 {
    background-image: url(../assets/front-end_card.webp);
}

.card--2 {
    background-image: url(../assets/food4all_card.webp);
}

.card--3 {
    background-image: url(../assets/pokemon-do.webp);
}

.card--4 {
    background-image: url(../assets/alkhemikal.webp);
}

.about-wrapper {
    display: flex;
    justify-content: center;
    position: relative;
    min-width: 70%;
    align-items: center;
    margin: 0 auto;
}

.about-img {
    border-radius: 16px;
    max-width: 40%;
}

.about-text {
    width: 60%;
    border-radius: 16px;
    text-shadow: 0 1px rgba(255, 255, 255, 0.2);
    background-color: #b1958fbe;
    padding: 12% 0;
    transform: translate(-5%);
}
