.hero-section {
    position: relative;
    padding-bottom: 400px;
}

.hero-section h1 {
    font-weight: 400;
    font-size: 60px;
    margin-bottom: 24px;
}

.hero-section h2 {
    font-weight: 400;
    font-size: 28px;
    margin-bottom: 48px;
}

.hero-section p {
    font-size: 24px;
}

.hero-section-content {
    padding-top: 140px;
    text-align: center;
}

.illustration--adventure {
    z-index: -1;
    width: 30%;
    position: absolute;
    right: 0;
    top: 0;
}
